/vendor/*
!/vendor/embed
!/vendor/embed/embed
!/vendor/laminas
!/vendor/laminas/laminas-diactoros
!/vendor/grandel
!/vendor/grandel/include-directory

/node_modules/*
!/node_modules/jquery
!/node_modules/fomantic-ui

/.vscode
/includes/config/config.php
