#
# Rewrite
#
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Wish
  RewriteRule ^([a-z\-]+)/(\d+)$ /?page=$1&id=$2 [QSA,L]

  # Wishlists
  RewriteRule ^([a-z\-]+)/(\d+)$ /?page=$1&wishlist=$2 [QSA,L]

  # Wishlist
  RewriteRule ^wishlist/([a-z0-9]+)$ /?wishlist=$1 [QSA,L]

  # Page
  RewriteRule ^([a-z\-]+)$ /?page=$1 [QSA,L]
</IfModule>

#
# Headers
#
<IfModule mod_headers.c>
  # 1 Year
  <FilesMatch "\.(woff2|js|css|png|svg|jpg)$">
    Header set Cache-Control "public, max-age=31536000, no-transform"
  </FilesMatch>
</IfModule>
