<!DOCTYPE html>
<html lang="{{PAGE_LOCALE}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="{{PAGE_META_DESCRIPTION}}" />

        <meta property="og:title" content="{{PAGE_META_TITLE}}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{PAGE_META_LINK_PREVIEW}}" />
        <meta property="og:description" content="{{PAGE_META_DESCRIPTION}}" />
        <meta property="og:locale" content="{{PAGE_LOCALE}}" />
        <meta property="og:site_name" content="wishthis" />
        {{PAGE_META_ALTERNATES}}

        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="{{PAGE_META_HOST}}" />
        <meta property="twitter:url" content="{{PAGE_META_URL}}" />
        <meta name="twitter:title" content="{{PAGE_META_TITLE}}" />
        <meta name="twitter:description" content="{{PAGE_META_DESCRIPTION}}" />
        <meta name="twitter:image" content="{{PAGE_META_LINK_PREVIEW}}" />

        {{PAGE_META_CANONICAL}} {{PAGE_META_STYLESHEETS}} {{PAGE_META_SCRIPTS}}

        <link rel="apple-touch-icon" sizes="180x180" href="/src/assets/img/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/img/favicon/favicon-16x16.png" />
        <link rel="mask-icon" href="/src/assets/img/favicon/safari-pinned-tab.svg" color="#5829bb" />
        <link rel="shortcut icon" href="/src/assets/img/favicon/favicon.ico" />

        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-config" content="/src/assets/img/favicon/browserconfig.xml" />
        <meta name="theme-color" content="#f4f4f4" />

        <title>{{PAGE_META_TITLE}}</title>
    </head>
    <body>
        {{PAGE_NAVIGATION}}

        <main>
            <div class="ui container">
                <h1 class="ui header">{{PAGE_TITLE}}</h1>

                <div class="ui doubling stackable grid">
                    <div class="eleven wide column">
                        <div class="ui segment">
                            <h2 class="ui header">{{APP_HEADING}}</h2>

                            <p>{{APP_DESCRIPTION}}</p>

                            <div class="ui two column doubling stackable centered grid actions">{{ACTION_BUTTONS}}</div>
                        </div>

                        <div class="ui segment">
                            <h2 class="ui header">{{USE_CASE_HEADING}}</h2>

                            <p>{{USE_CASE_DESCRIPTION}}</p>
                        </div>

                        <div class="ui segment">
                            <h2 class="ui header">{{WHY_WISHTHIS_HEADING}}</h2>

                            <p>{{WHY_WISHTHIS_DESCRIPTION}}</p>

                            <p>{{AS_OSS_HEADING}}</p>
                            <div class="flex why-wishthis">
                                <ul class="ui list">
                                    <li class="item">
                                        <i class="green check icon" aria-hidden="true"></i>
                                        <div class="content">{{AS_OSS_FREE_OF_ADS}}</div>
                                    </li>
                                    <li class="item" data-html="{{AS_OSS_WITHOUT_TRACKING_POPUP}}">
                                        <i class="green check icon" aria-hidden="true"></i>
                                        <div class="content">{{AS_OSS_WITHOUT_TRACKING}}</div>
                                    </li>
                                    <li class="item">
                                        <i class="green check icon" aria-hidden="true"></i>
                                        <div class="content">{{AS_OSS_TRANSPARENT}}</div>
                                    </li>
                                </ul>
                                <ul class="ui list">
                                    <li class="item">
                                        <i class="green check icon" aria-hidden="true"></i>
                                        <div class="content">{{AS_OSS_PRIVACY_FOCUSED}}</div>
                                    </li>
                                    <li class="item">
                                        <i class="green check icon" aria-hidden="true"></i>
                                        <div class="content">{{AS_OSS_OPEN_FOR_FEEDBACK}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="ui segment">
                            <h2 class="ui header">{{NEWS_HEADING}}</h2>

                            <div class="ui relaxed divided list news">
                                <div class="item">
                                    <i class="large rss middle aligned icon"></i>
                                    <div class="content">
                                        <div class="ui placeholder">
                                            <div class="paragraph">
                                                <div class="full line"></div>
                                                <div class="long line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="large rss middle aligned icon"></i>
                                    <div class="content">
                                        <div class="ui placeholder">
                                            <div class="paragraph">
                                                <div class="short line"></div>
                                                <div class="very short line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="large rss middle aligned icon"></i>
                                    <div class="content">
                                        <div class="ui placeholder">
                                            <div class="paragraph">
                                                <div class="medium line"></div>
                                                <div class="very long line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <div class="ui segment">
                            <h2 class="ui header">{{STATISTICS_HEADING}}</h2>

                            <p>{{STATISTICS_JOIN}}</p>

                            <div class="ui stackable statistics">
                                <div class="statistic" id="wishes">
                                    <div class="value">{{STATISTICS_N_A}}</div>
                                    <div class="label">{{STATISTICS_WISHES}}</div>
                                </div>

                                <div class="statistic" id="wishlists">
                                    <div class="value">{{STATISTICS_N_A}}</div>
                                    <div class="label">{{STATISTICS_WISHLISTS}}</div>
                                </div>

                                <div class="statistic" id="users">
                                    <div class="value">{{STATISTICS_N_A}}</div>
                                    <div class="label">{{STATISTICS_USERS}}</div>
                                </div>
                            </div>
                        </div>

                        {{SEGMENT_LOCALE}}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
