<!DOCTYPE html>
<html lang="{{PAGE_LOCALE}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="{{PAGE_META_DESCRIPTION}}" />

        <meta property="og:title" content="{{PAGE_META_TITLE}}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{PAGE_META_LINK_PREVIEW}}" />
        <meta property="og:description" content="{{PAGE_META_DESCRIPTION}}" />
        <meta property="og:locale" content="{{PAGE_LOCALE}}" />
        <meta property="og:site_name" content="wishthis" />
        {{PAGE_META_ALTERNATES}}

        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="{{PAGE_META_HOST}}" />
        <meta property="twitter:url" content="{{PAGE_META_URL}}" />
        <meta name="twitter:title" content="{{PAGE_META_TITLE}}" />
        <meta name="twitter:description" content="{{PAGE_META_DESCRIPTION}}" />
        <meta name="twitter:image" content="{{PAGE_META_LINK_PREVIEW}}" />

        {{PAGE_META_CANONICAL}} {{PAGE_META_STYLESHEETS}} {{PAGE_META_SCRIPTS}}

        <link rel="apple-touch-icon" sizes="180x180" href="/src/assets/img/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/img/favicon/favicon-16x16.png" />
        <link rel="mask-icon" href="/src/assets/img/favicon/safari-pinned-tab.svg" color="#5829bb" />
        <link rel="shortcut icon" href="/src/assets/img/favicon/favicon.ico" />

        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-config" content="/src/assets/img/favicon/browserconfig.xml" />
        <meta name="theme-color" content="#f4f4f4" />

        <title>{{PAGE_META_TITLE}}</title>
    </head>
    <body>
        {{PAGE_NAVIGATION}}

        <main>
            <div class="ui container">
                <h1 class="ui header">{{PAGE_TITLE}}</h1>

                {{PAGE_MESSAGES}}

                <div class="ui segment">
                    <div class="ui divided relaxed stackable two column grid">
                        <div class="row">
                            <div class="column">
                                <h2 class="ui header">{{LOGIN_CREDENTIALS}}</h2>

                                <form class="ui form login" method="POST" action="{{LOGIN_ACTION}}">
                                    <div class="field">
                                        <label>{{LOGIN_EMAIL}}</label>

                                        <div class="ui left icon input">
                                            <input type="email" name="email" placeholder="john.doe@domain.tld" />
                                            <i class="envelope icon"></i>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>{{LOGIN_PASSWORD}}</label>

                                        <div class="ui left icon input">
                                            <input type="password" name="password" />
                                            <i class="key icon"></i>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="persistent" />
                                            <label>{{LOGIN_KEEP}}</label>
                                        </div>
                                    </div>

                                    <div class="inline unstackable fields">
                                        <div class="field">
                                            <input class="ui primary button" type="submit" name="login" value="{{LOGIN_HEADING}}" title="{{LOGIN_HEADING}}" />
                                        </div>

                                        <div class="field">
                                            <a class="ui tertiary button" href="{{REGISTER_LINK}}" title="{{REGISTER_HEADING}}">{{REGISTER_HEADING}}</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="column">
                                <h2 class="ui header">{{FORGOT_PASSWORD_HEADING}}</h2>

                                <p>{{FORGOT_PASSWORD_MANAGER}}</p>
                                <p>{{FORGOT_PASSWORD_BITWARDEN}}</p>

                                {{FORGOT_PASSWORD_MJML}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="ui hidden divider"></div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="six wide column">
                        <h4 class="ui inverted header">{{APP_NAME}}</h4>

                        <div class="ui inverted link list">
                            <div class="item">
                                <i class="code branch icon"></i>
                                <div class="content">{{APP_VERSION}}</div>
                            </div>

                            <a class="item" href="{{CHANGELOG_LINK}}" title="{{CHANGELOG_HEADING}}">
                                <i class="newspaper icon"></i>
                                <div class="content">{{CHANGELOG_HEADING}}</div>
                            </a>
                        </div>
                    </div>

                    <div class="five wide column">
                        <h4 class="ui inverted header">{{CONTRIBUTE_HEADING}}</h4>

                        <div class="ui inverted link list">
                            <a class="item" href="{{CONTRIBUTE_GITHUB_LINK}}" target="_blank" title="{{CONTRIBUTE_GITHUB_HEADING}}">
                                <i class="github icon"></i>
                                <div class="content">{{CONTRIBUTE_GITHUB_HEADING}}</div>
                            </a>

                            <a class="item" href="{{CONTRIBUTE_TRANSIFEX_LINK}}" target="_blank" title="{{CONTRIBUTE_TRANSIFEX_HEADING}}">
                                <i class="language icon"></i>
                                <div class="content">{{CONTRIBUTE_TRANSIFEX_HEADING}}</div>
                            </a>
                        </div>
                    </div>

                    <div class="five wide column">
                        <h4 class="ui inverted header">{{CONTACT_HEADING}}</h4>

                        <div class="ui inverted link list">
                            <a class="item" href="{{CONTACT_MATRIX_LINK}}" target="_blank" title="{{CONTACT_MATRIX_HEADING}}">
                                <i class="comment dots icon"></i>
                                <div class="content">{{CONTACT_MATRIX_HEADING}}</div>
                            </a>

                            <a class="item" href="{{CONTACT_DISCORD_LINK}}" target="_blank" title="{{CONTACT_DISCORD_HEADING}}">
                                <i class="discord icon"></i>
                                <div class="content">{{CONTACT_DISCORD_HEADING}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
