:root {
    --lineHeight: 1.4285;
    --wishPreviewHeight: 25vh;
}

img {
    max-width: 100%;
}

/**
 * Logo
 */
.ui.menu .item.home > img:not(.ui) {
    width: auto;
    height: 1em;
    margin: 0;
}

/**
 * Footer
 */
.ui.footer {
    position: sticky;
    top: 100%;
}

/**
 * Progress
 */
.ui.progress.nolabel:last-child {
	margin: 0;
}

/**
 * Card
 */
.ui.fluid.card.stretch {
    height: 100%;
}

/** Overlay */
@media (hover: hover) {
    .ui.card:hover {
        z-index: 102;
    }

    .ui.card .overlay {
        transition: 0.4s ease opacity;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 1;
        opacity: 0;

        background-color: rgba(255, 255, 255, 0.6);
    }
    .ui.card:hover .overlay {
        opacity: 1;
    }
}

/** Image */
.ui.card > .image > img.preview{
    height: var(--wishPreviewHeight);
    object-fit: cover;
    object-position: 50%;
    background-color: #fff;
}

/** Favicon */
.ui.card > .image > img.favicon {
    position: absolute;
    top: calc(0.91666667em * 1.25);
    left: 1em;
    height: 1.25em;
    width: auto;

    z-index: 2;
}

.ui.card > .image > img.favicon + span.provider {
    padding-left: 3em;

    z-index: 2;
}

/** Provider name */
.ui.card > .image > span.provider {
    transition: 0.4s ease opacity;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: calc(0.91666667em * 1.5) 0.91666667em;

    line-height: 1;
    user-select: none;
    opacity: 0;
}
.ui.card:hover > .image > span.provider {
    opacity: 1;
}

/** Content */
.ui.card > .content > .header {
    max-height: calc(2 * 1.28571429em);
    overflow: hidden;
}
.ui.card > .content > .description {
    max-height: calc(3em * var(--lineHeight));
    overflow: hidden;
}
@media (hover: hover) {
    .ui.card > .content:not(.extra) {
        margin-bottom: calc(3em * var(--lineHeight));
    }

    .ui.card > .content > .description {
        position: absolute;
        left: 1em;
        right: 1em;
    }
}

.ui.card > .content > .description-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 4em;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0.75em, rgba(255,255,255,0.8995799003195029) 45%, rgba(255,255,255,0) 100%);
}

/** Buttons */
.ui.card > .extra.buttons,
.ui.cards > .card > .extra.buttons {
    transition: 0.4s ease opacity;

    display: flex;

    background-color: inherit;
    z-index: 2;
}
@media (hover: hover) {
    .ui.card > .extra.buttons,
    .ui.cards > .card > .extra.buttons {
        opacity: 0;
    }
}
.ui.card:hover > .extra.buttons,
.ui.cards > .card:hover > .extra.buttons {
    opacity: 1;
}

.ui.card > .extra.buttons > .button,
.ui.cards > .card > .extra.buttons > .button {
    flex: 1 1 auto;
}

.ui.card .ui.menu {
    flex: 1 1 auto;

    margin: 0;

    box-shadow: none;
}
.ui.card .ui.menu .ui.button {
    margin: 0;

    text-align: center;
}

/**
 * Label
 */
p .ui.horizontal.label {
    margin: 0;
    cursor: default;
    user-select: none;
}

/**
 * Flex
 */
.flex {
    display: flex;
    flex-flow: row nowrap;
}
@media (max-width: 767px) {
    .flex {
        flex-direction: column;
    }

    .flex > *,
    .flex > .ui.button {
        margin-bottom: 0.5rem;
    }
    .flex :last-child {
        margin-bottom: 0;
    }
}
