:root {
    --lineHeight: 1.4285;
    --wishPreviewHeight: min(30vh, 224px);
    --themeTransitionDuration: 2s;
}

img {
    max-width: 100%;
}

figure {
    margin: 0 0 1em;
}

/**
 * Logo
 */
.ui.menu .item.home > :is(img, svg):not(.ui) {
    width: auto;
    height: 1em;
    margin: 0;
}
#svgLogo path {
    fill: currentColor;
}

/**
 * Footer
 */
.ui.footer {
    position: sticky;
    top: 100%;
}
@media (min-width: 768px) {
    .ui.footer {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/**
 * Progress
 */
.ui.progress.nolabel:last-child {
	margin: 0;
}

/**
 * Wishlist Card
 */
.wishlist .ui.card {
    --padding: 0.91666667em;
    --buttonsHeight: calc(0.75em * 2 + 1em + 2 * var(--padding) - 2px);
}

.wishlist .ui.fluid.card.stretch {
    height: 100%;
}

/** Image */
.wishlist .ui.card > .image > svg {
    transition: var(--themeTransitionDuration) ease color,
                var(--themeTransitionDuration) ease background-color;

    width: 100%;
    height: var(--wishPreviewHeight);
    padding: 15% 10%;

    box-sizing: border-box;
    border-radius: inherit;

    color: #f0f0f0;
    background-color: #f4f4f4;
}
@media (prefers-color-scheme: dark) {
    .wishlist .ui.card > .image > svg {
        color: #0f0f0f;
        background-color: #0b0b0b;
    }
}
@media (hover: hover) {
    @media (prefers-reduced-motion: no-preference) {
        .wishlist .ui.card > .image > svg {
            transition: var(--themeTransitionDuration) ease color,
                        var(--themeTransitionDuration) ease background-color,
                        0.2s linear height,
                        0.2s linear padding,
                        0.2s linear opacity;
        }
    }
    .wishlist .ui.card:hover > .image > svg {
        height: calc(1em + 3 * var(--padding) - 5px);
        padding: 0;
        opacity: 0;
    }
}

.wishlist .ui.card > .image > img.preview {
    transition: var(--themeTransitionDuration) ease filter,
                var(--themeTransitionDuration) ease background-color;

    height: var(--wishPreviewHeight);

    object-fit: cover;
    object-position: 50%;
    background-color: #fff;
}
@media (prefers-color-scheme: dark) {
    .wishlist .ui.card > .image > img.preview {
        filter: brightness(80%);
        background-color: #000;
    }
}
@media (hover: hover) {
    @media (prefers-reduced-motion: no-preference) {
        .wishlist .ui.card > .image > img.preview {
            transition: 0.2s linear height,
                        0.2s linear opacity;
        }
    }
    .wishlist .ui.card:hover > .image > img.preview {
        height: calc(1em + 3 * var(--padding));
    }
}

/** Provider */
.wishlist .ui.card > .image,
.wishlist .ui.card > .image > span.provider {
    border-radius: .33333333rem .33333333rem 0 0;
}

.wishlist .ui.card > .image > img.favicon,
.wishlist .ui.card > .image > span.provider {
    position: absolute;
    top: 0;
}

/** Favicon */
.wishlist .ui.card > .image > img.favicon {
    padding: calc(var(--padding) * 1.5) var(--padding);

    height: 1.25em;
    width: auto;

    box-sizing: content-box;
    z-index: 1;
}

.wishlist .ui.card > .image > img.favicon + span.provider {
    padding-left: 3em;
}

/** Provider name */
.wishlist .ui.card > .image > span.provider {
    transition: var(--themeTransitionDuration) ease background-color;

    display: block;
    width: 100%;
    padding: calc(var(--padding) * 1.5) var(--padding);

    line-height: 1;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
}
@media (prefers-color-scheme: dark) {
    .wishlist .ui.card > .image > span.provider {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
@supports (backdrop-filter: blur(4px)) {
    .wishlist .ui.card > .image > span.provider {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
    }
    @media (prefers-color-scheme: dark) {
        .wishlist .ui.card > .image > span.provider {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
@media (hover: hover) {
    .wishlist .ui.card > .image > span.provider {
        transition: opacity 0.2s linear;

        position: absolute;

        opacity: 0;
    }

    .wishlist .ui.card:hover > .image > span.provider {
        display: block;

        opacity: 1;
    }
}

/** Content */
.wishlist .ui.card > .content:not(.extra) {
    height: calc(0.75 * var(--wishPreviewHeight));

    overflow: auto;
}
@media (hover: hover) {
    @media (prefers-reduced-motion: no-preference) {
        .wishlist .ui.card > .content:not(.extra) {
            transition: 0.2s linear height,
                        0.2s linear margin-bottom;
        }
    }
    .wishlist .ui.card > .content:not(.extra) {
        overflow: hidden;
    }

    .wishlist .ui.card:hover > .content:not(.extra) {
        height: calc(1.5 * var(--wishPreviewHeight) - var(--buttonsHeight) - 4px);
        margin-bottom: var(--buttonsHeight);

        overflow: auto;
    }
}

.wishlist .ui.card > .content > .header {
    max-height: calc(2 * 1.28571429em);
    overflow: hidden;
}

.wishlist .ui.card > .content > .description-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 4em;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0.75em, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0.33333333rem;
}
@media (prefers-color-scheme: dark) {
    .wishlist .ui.card > .content > .description-fade {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0.75em, rgba(0, 0, 0, 0.9) 45%, rgba(0, 0, 0, 0) 100%);
    }
}

/** Buttons */
.wishlist .ui.card > .extra.buttons {
    transition: 0.4s ease opacity;

    display: flex;

    background-color: inherit;
    z-index: 2;
}
@media (hover: hover) {
    .wishlist .ui.card > .extra.buttons {
        transition: opacity 0.2s ease;

        position: absolute;
        top: unset;
        right: 0;
        bottom: calc(var(--buttonsHeight) / 2);
        left: 0;
        height: auto;

        opacity: 0;
        margin-bottom: 0;
    }
    @media (prefers-reduced-motion: no-preference) {
        .wishlist .ui.card > .extra.buttons {
            transition: 0.2s ease opacity,
                        0.2s ease bottom;
        }
    }

    .wishlist .ui.card:hover > .extra.buttons {
        opacity: 1;

        bottom: 0;
    }
}

.wishlist .ui.card > .extra.buttons > .button {
    flex: 1 1 auto;
}
.wishlist .ui.card > .extra.buttons > :last-child {
    margin-right: 0;
}

/**
 * Label
 */
p .ui.horizontal.label {
    margin: 0;
    cursor: default;
    user-select: none;
}

/**
 * Flex
 */
.flex {
    display: flex;
    flex-flow: row wrap;
}
@media (max-width: 767px) {
    .flex {
        flex-direction: column;
    }

    .flex > *,
    .flex > .ui.button {
        margin-bottom: 0.5rem;
    }
    .flex :last-child {
        margin-bottom: 0;
    }
}

/**
 * Menu
 */
.pusher {
    min-height: 100vh;
}

.pusher .menu.toggle {
    display: none;
}

.ui.attached.menu.sidebar:not(.tabular) {
    border: 0;
}

.ui.vertical.menu .footer .item > i.icon,
.ui.vertical.menu .footer .item > i.icons {
    float: none;
    margin: 0;
}

@media (max-width: 767px) {
    .pusher .menu.toggle {
        display: block;
    }

    .pusher > .footer {
        display: none;
    }

    .pusher .menu.attached.desktop {
        display: none;
    }
}

/**
 * Action Input
 */
.ui.action.input > .action.input > input {
    flex-shrink: 1;
    width: 100%;
}

@media (max-width: 400px) {
    .ui.action.input {
        flex-direction: column;
    }

    .ui.action.input > input {
        border-radius: 0.33333333rem 0.33333333rem 0 0 !important;
        border: 1px solid rgba(34,36,38,.15) !important;
    }

    .ui.action.input > .button:last-child,
    .ui.action.input > .buttons:last-child > .button,
    .ui.action.input > .dropdown:last-child {
        border-radius: 0 0 0.33333333rem 0.33333333rem !important;
    }
}

/**
 * Options
 */
.ui.dropdown.options {
    text-align: center;
}

.ui.dropdown .menu > a.item,
.ui.dropdown .menu > a.item:hover {
	color: rgba(0,0,0,.95);
}

/**
 * Filter
 */
.ui.basic.white.button {
    transition: var(--themeTransitionDuration) ease background-color;

    background-color: #fff;
}
@media (prefers-color-scheme: dark) {
    .ui.basic.white.button {
        background-color: #000;
    }
}

/**
 * List
 */
ul.ui.list li::before {
    display: none;
}

ul.ui.list {
	margin: 0;
}

/**
 * Dropdown
 */
button.item {
    width: 100%;

    background-color: transparent;
}

/**
 * Dark theme
 */
body,
.ui.segment,
.ui.menu,
.ui.menu .dropdown.item .menu,
.ui.vertical.pointing.menu .active.item::after,
.ui.selection.dropdown,
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.ui.pointing.dropdown > .menu:not(.hidden)::after,
.ui.button,
.ui.input > input,
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"],
.ui.form textarea,
.ui.input textarea,
.ui.card,
.ui.cards > .card,
.ui.card > .image,
.ui.cards > .card > .image,
.ui.table,
.ui.table > thead > tr > th,
.ui.info.message,
.ui.modal,
.ui.modal > .header,
.ui.modal > .content,
.ui.modal > .actions,
.ui.ui.table td.active,
.ui.ui.ui.ui.table tr.active,
.ui.bottom.popup::before,
.ui.steps .step,
.ui.steps .disabled.step,
.ui.steps .disabled.step::after,
.ui.steps .step::after {
    transition: var(--themeTransitionDuration) ease background-color;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #dfdfdf;
        background-color: #0b0b0b;
    }

    /** Segment */
    .ui.segment {
        background-color: #000;
    }

    /** Header */
    .ui.dropdown .menu > .header:not(.ui) {
        color: rgba(255, 255, 255, 0.85);
    }
    .ui.header {
        color: rgba(255, 255, 255, 0.87);
    }

    /** Menu */
    .ui.menu,
    .ui.menu .dropdown.item .menu {
        background-color: #000;
    }
    .ui.menu .item {
        color: rgba(255, 255, 255, 0.87);
    }
    .ui.vertical.menu {
        background: #000;
        box-shadow: 0 1px 2px 0 rgba(221, 219, 217, 0.15);
    }
    .ui.vertical.pointing.menu .active.item::after {
        background-color: #0d0d0d;
    }
    .ui.menu .active.item {
        color: rgba(255, 255, 255, 0.95);
    }
    .ui.vertical.pointing.menu .item::after {
        border-color: #2b2b2a;
    }
    .ui.vertical.pointing.menu .active.item:hover::after {
        background-color: #0d0d0d;
    }
    .ui.menu .active.item:hover,
    .ui.vertical.menu .active.item:hover {
        color: rgba(255, 255, 255, 0.95);
        background-color: rgba(255, 255, 255, 0.05);
    }

    /** */
    .ui.link.menu .item:hover,
    .ui.menu .dropdown.item:hover,
    .ui.menu .link.item:hover,
    .ui.menu a.item:hover,
    .ui.dropdown .menu > a.item,
    .ui.dropdown .menu > a.item:hover {
        color: rgba(255, 255, 255, 0.95);
    }
    .ui.menu .ui.dropdown .menu > .item {
        color: rgba(255, 255, 255, 0.87) !important;
    }
    .ui.menu .ui.dropdown .menu > .item:hover {
        color: rgba(255, 255, 255, 0.95) !important;
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    .ui.dropdown .menu > .item:hover {
        color: rgba(255, 255, 255, 0.95);
        background-color: rgba(255, 255, 255, 0.05);
    }

    .ui.statistic > .value,
    .ui.statistics .statistic > .value {
        color: #e4e3e2;
    }
    .ui.statistic > .label,
    .ui.statistics .statistic > .label {
        color: rgba(255, 255, 255, 0.87);
    }

    .ui.list .list > .item > .content,
    .ui.list > .item > .content {
        color: rgba(255, 255, 255, 0.87);
    }

    .ui.attached.menu:not(.tabular) {
        border-color: #2b2b2a;
    }

    /** Dropdown */
    .ui.selection.dropdown {
        color: rgba(255, 255, 255, 0.87);
        border-color: rgba(221, 219, 217, 0.15);
        background-color: #000;
    }
    .ui.selection.visible.dropdown > .text:not(.default) {
        color: rgba(255, 255, 255, 0.8);
    }

    .ui.dropdown .menu {
        background-color: #000;
    }
    .ui.dropdown .menu > .item {
        color: rgba(255, 255, 255, 0.87);
    }
    .ui.selection.dropdown .menu > .item {
        border-top-color: #050505;
    }
    .ui.dropdown .menu .selected.item,
    .ui.dropdown.selected {
        color: rgba(255, 255, 255, 0.95);
        background-color: rgba(255, 255, 255, 0.03);
    }
    .ui.pointing.dropdown > .menu:not(.hidden)::after {
        box-shadow: -1px -1px 0 0 rgba(221, 219, 217, 0.15);
        background-color: #000;
    }

    /** Button */
    .ui.button {
        color: rgba(255, 255, 255, 0.6);
        background-color: #1f1e1d;
    }
    .ui.button:hover {
        color: rgba(255, 255, 255, 0.8);
        background-color: #353432;
    }
    .ui.basic.button,
    .ui.basic.buttons .button {
        color: rgba(255, 255, 255, 0.6);
    }
    .ui.basic.button:hover,
    .ui.basic.buttons .button:hover {
        color: rgba(255, 255, 255, 0.8);
        background-color: #000;
    }

    /** Input */
    .ui.input > input {
        color: rgba(255, 255, 255, 0.87);
        background-color: #000;
    }
    .ui.input.down input,
    .ui.input > input:active {
        color: rgba(255, 255, 255, 0.87);
        border-color: rgba(255, 255, 255, 0.3);
        background-color: #050505;
    }
    .ui.input.focus > input,
    .ui.input > input:focus {
        color: rgba(255, 255, 255, 0.8);
        background-color: #000;
    }

    .ui.form input:not([type]),
    .ui.form input[type="date"],
    .ui.form input[type="datetime-local"],
    .ui.form input[type="email"],
    .ui.form input[type="file"],
    .ui.form input[type="number"],
    .ui.form input[type="password"],
    .ui.form input[type="search"],
    .ui.form input[type="tel"],
    .ui.form input[type="text"],
    .ui.form input[type="time"],
    .ui.form input[type="url"],
    .ui.form textarea,
    .ui.input textarea {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        background-color: #000;
        border-color: rgba(221, 219, 217, 0.15);
        color: rgba(255, 255, 255, 0.87);
    }
    .ui.form input:not([type]):focus,
    .ui.form input[type="date"]:focus,
    .ui.form input[type="datetime-local"]:focus,
    .ui.form input[type="email"]:focus,
    .ui.form input[type="file"]:focus,
    .ui.form input[type="number"]:focus,
    .ui.form input[type="password"]:focus,
    .ui.form input[type="search"]:focus,
    .ui.form input[type="tel"]:focus,
    .ui.form input[type="text"]:focus,
    .ui.form input[type="time"]:focus,
    .ui.form input[type="url"]:focus,
    .ui.form textarea:focus,
    .ui.input textarea:focus {
        color: rgba(255, 255, 255, 0.95);
        background-color: #000;
        box-shadow: 0 0 0 0 rgba(221, 219, 217, 0.35) inset;
    }

    /** Form **/
    .ui.form ::placeholder {
        color: rgba(64, 64, 64, 0.87);
    }
    input::selection,
    textarea::selection {
        color: rgba(255, 255, 255, 0.87);
        background-color: rgba(155, 155, 155, 0.4);
    }
    .ui.form .field > label {
        color: rgba(255, 255, 255, 0.87);
    }

    /** Card */
    .ui.card,
    .ui.cards > .card {
        background-color: #000;
        box-shadow: 0 1px 3px 0 #2b2b2a,
                    0 0 0 1px #2b2b2a;
    }
    .ui.card > .image,
    .ui.cards > .card > .image {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .ui.card > .content > .header,
    .ui.cards > .card > .content > .header {
        color: rgba(255, 255, 255, 0.85);
    }
    .ui.card > .content > .description,
    .ui.cards > .card > .content > .description {
        color: rgba(255, 255, 255, 0.68);
    }
    .ui.card .meta > a:not(.ui),
    .ui.cards > .card .meta > a:not(.ui) {
        color: rgba(255, 255, 255, 0.4);
    }
    .ui.card .meta > a:not(.ui):hover,
    .ui.cards > .card .meta > a:not(.ui):hover {
        color: rgba(255, 255, 255, 0.87);
    }
    .ui.card > .extra,
    .ui.cards > .card > .extra {
        color: rgba(255, 255, 255, 0.4);
    }

    /** Label */
    .ui.teal.labels .label,
    .ui.ui.ui.teal.label,
    .ui.olive.labels .label,
    .ui.ui.ui.olive.label {
        color: inherit;
    }

    /** List */
    .ui.list .list > .item .description,
    .ui.list > .item .description {
        color: rgba(255, 255, 255, 0.7);
    }

    /** Table */
    .ui.table {
        background-color: #000;
        border-color: rgba(221, 219, 217, 0.15);
        color: rgba(255, 255, 255, 0.87);
    }

    .ui.table > thead > tr > th {
        background-color: #060504;
        color: rgba(255, 255, 255, 0.87);
        border-bottom-color: rgba(221, 219, 217, 0.1);
    }

    /** Message */
    .ui.info.message {
        background-color: #070000;
    }

    /** Modal */
    .ui.modal {
        box-shadow: 1px 3px 3px 0 rgba(255, 255, 255, 0.2),
                    1px 3px 15px 2px rgba(255, 255, 255, 0.2);
        background-color: #000;
    }
    .ui.modal > .header {
        color: rgba(255, 255, 255, 0.85);
        background-color: #000;
        border-bottom-color: rgba(221, 219, 217, 0.15);
    }
    .ui.modal > .content {
        background-color: #000;
    }
    .ui.modal > .actions {
        background-color: #060504;
        border-top-color: rgba(221, 219, 217, 0.15);
    }

    /** Checkbox */
    .ui.checkbox label,
    .ui.checkbox + label {
        color: rgba(255, 255, 255, 0.87);
    }
    .ui.checkbox label:hover,
    .ui.checkbox + label:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    .ui.checkbox input:focus ~ label {
        color: rgba(255, 255, 255, 0.95);
    }

    /** Calendar */
    .ui.ui.table td.active,
    .ui.ui.ui.ui.table tr.active {
        color: rgba(255, 255, 255, 0.87);
        background-color: #1f1f1f;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.87) inset;
    }
    .ui.bottom.popup::before {
        background-color: #000;
    }
    .ui.bottom.left.popup::before {
        box-shadow: -1px -1px 0 0 #454543;
    }

    /** Icon */
    i.icon.calendar::before {
        color: #fff;
    }

    /** Steps */
    .ui.steps .step {
        background-color: #000;
        color: rgba(255, 255, 255, 0.87);
        border-right: 1px solid rgba(221, 219, 217, 0.15);
    }
    .ui.steps .disabled.step,
    .ui.steps .disabled.step .description,
    .ui.steps .disabled.step .title {
        color: rgba(215, 215, 215, 0.3);
    }
    .ui.steps .disabled.step {
        background-color: #000;
    }
    .ui.steps .disabled.step::after {
        background-color: #000;
    }
    .ui.steps .step::after {
        background-color: #000;
        border-color: rgba(221, 219, 217, 0.15);
    }
    .ui.steps .step .description {
        color: rgba(255, 255, 255, 0.87);
    }
}
