:root {
    --lineHeight: 1.4285;
}

/**
 * Footer
 */
.ui.footer {
    position: sticky;
    top: 100%;
}

/**
 * Modal
 */
.ui.modal > .actions {
	text-align: inherit;
}

/**
 * Progress
 */
.ui.progress.nolabel:last-child {
	margin: 0;
}

/**
 * Card
 */
.ui.fluid.card.stretch {
    height: 100%;
}

/** Image */
.ui.card > .image > img,
.ui.cards > .card > .image > img {
	height: 30vh;
    object-fit: cover;
    background-color: #fff;
}

/** Content */
.ui.card > .content > .header + .description,
.ui.card > .content > .meta + .description,
.ui.cards > .card > .content > .header + .description,
.ui.cards > .card > .content > .meta + .description {
    max-height: calc(2em * var(--lineHeight));

    overflow: hidden;
}

/** Icon */
.image + .content .header img {
    position: absolute;
    top: 1em;
    height: 1.25em;
    vertical-align: text-bottom;
}


/**
 * Label
 */
p .ui.horizontal.label {
    margin: 0;
    cursor: default;
    user-select: none;
}
