.ui.statistics {
    flex-direction: column;
    align-items: center;
}
.ui.statistics::after {
    display: none;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
    font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

#text-list {
    animation: 0.8s 1s ease text-list;
    animation-fill-mode: both;
}
@keyframes text-list {
    0% {
        opacity: 1;
        transform: matrix(3.63682, 0, 0, 3.63682, 425.483, 130.092);
    }

    100% {
        opacity: 0;
        transform: matrix(3.63682, 0, 0, 3.63682, 426.568, -62.239);
    }
}

#text-this {
    animation: 0.8s 1s ease text-this;
    animation-fill-mode: both;
}
@keyframes text-this {
    0% {
        opacity: 0;
        transform: matrix(3.63682, 0, 0, 3.63682, 426.568, 135.761);
    }

    100% {
        opacity: 1;
        transform: matrix(3.63682, 0, 0, 3.63682, 426.568, 35.761);
    }
}

.column.buttons {
    display: flex !important;
}

.column.buttons .left.attached.button {
    flex: 1 1 100%;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.column.buttons .right.attached.button {
    flex: 0 0 auto;
}
