.ui.statistics {
    flex-direction: column;
    align-items: center;
}
.ui.statistics::after {
    display: none;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
    font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

#text-list {
    animation: 0.4s 1s ease text-list;
    animation-fill-mode: forwards;
}
@keyframes text-list {
    0% {
        opacity: 1;
        transform: matrix(3.6368233, 0, 0, 3.6368233, 425.48266, 130.09212);
    }

    100% {
        opacity: 0;
        transform: matrix(3.6368233, 0, 0, 3.6368233, 425.48266, 30.092);
    }
}

#text-this {
    animation: 0.4s 1s ease text-this;
    animation-fill-mode: forwards;
}
@keyframes text-this {
    0% {
        opacity: 0;
        transform: matrix(3.6368233, 0, 0, 3.6368233, 425.48266, 135.76144);
    }

    100% {
        opacity: 1;
        transform: matrix(3.6368233, 0, 0, 3.6368233, 425.48266, 35.76144);
    }
}

.column.buttons {
    display: flex !important;
}

.column.buttons .left.attached.button {
    flex: 1 1 100%;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (prefers-color-scheme: dark) {
    .column.buttons .left.attached.button {
        box-shadow:
            2px 0 0 0 #fff inset,
            0 2px 0 0 #fff inset,
            0 -2px 0 0 #fff inset;
    }
}
.column.buttons .right.attached.button {
    flex: 0 0 auto;
}
@media (prefers-color-scheme: dark) {
    .column.buttons .right.attached.button {
        box-shadow: 0 0 0 2px #fff inset;
    }
}
