.ui.fitted.segment.image {
    width: 100%;
    height: 40vh;

    overflow: hidden;
}
@media (prefers-color-scheme: dark) {
    .ui.fitted.segment.image {
        filter: brightness(80%);
    }
}

.ui.fitted.segment.image img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}
