/**
 * Details
 */

/** Image */
.ui.modal.wish-details .wish-image {
    max-width: 100%;
    max-height: 40vh;
}
@media (min-width: 768px) {
    .ui.modal.wish-details .wish-image {
        max-width: 40%;
        max-height: 100%;
    }
}

.ui.modal.wish-details .wish-image:has(.ui.placeholder) {
    height: 40vh;
}
@media (min-width: 768px) {
    .ui.modal.wish-details .wish-image:has(.ui.placeholder) {
        width: 40%;
    }
}

/** Placeholder */
.ui.modal.wish-details .wish-image .ui.placeholder {
    height: 100%;
}

/** Description */
.ui.modal.wish-details .wish-image:has(.ui.placeholder) + .description {
    padding-left: 2em;
}
