:root {
    --color-primary: blue;

    --radius-default: 4px;
}

body {
    margin: 0;

    font-family: sans-serif;
    font-size: 14pt;

    background-color: #f4f4f4;
}

h1 {
    margin-top: 0;
}

p {
    font-size: inherit;
}

form {
    display: inline-block;
}

section {
    max-width: 80ch;
    padding: 2rem;
    margin: 1rem auto 0 auto;

    background-color: #fff;
}

/**
 * Buttons
 */
button,
.button,
input[type="submit"],
input[type="button"] {
    padding: 0.4em 1.6em;

    font-size: inherit;

    cursor: pointer;
    border: none;
    border-radius: var(--radius-default);
}

.button.primary,
input[type="submit"] {
    color: #fff;
    background-color: var(--color-primary);
}

a.button {
    text-decoration: none;
}

/**
 * Inputs
 */
fieldset {
    margin: 0 0 1em 0;
    padding: 0;

    border: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 0.4em;
    font-size: inherit;

    border: 1px solid #f8f8f8;
}
